<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="left-panel">
    <wm-nav type="pills" layout="stacked" name="nav1">
        <wm-nav-item name="nav_item1">
            <wm-anchor caption="Home" iconclass="wi wi-home" class="active" name="anchor1" backgroundcolor="#b7212c" on-tap="goToPage_Main"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item2">
            <wm-anchor caption="Order" iconclass="wi wi-shopping-cart" name="anchor2" backgroundcolor="#b7212c" on-tap="goToPage_Catalog"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item3"></wm-nav-item>
    </wm-nav>
    <wm-nav type="pills" layout="stacked" name="nav2">
        <wm-nav-item name="nav_item4">
            <wm-anchor caption="Settings" name="anchor4" badgevalue="4" backgroundcolor="#b7212c"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item5">
            <wm-anchor caption="Help" name="anchor5" backgroundcolor="#b7212c"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item6">
            <wm-anchor caption="Send Feedback" name="anchor6" backgroundcolor="#b7212c" color="#ffffff"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>