<wm-page data-ng-controller="MainPageController" name="mainpage">
    <wm-left-panel content="leftnav" columnwidth="2" name="left_panel1"></wm-left-panel>
    <wm-mobile-navbar name="mobile_navbar1" title="MySwisher" leftnavpaneliconclass="wi wi-menu" backbutton="false" backgroundcolor="#b7212c">
        <wm-anchor caption="Logout" name="AddLink" iconclass="wi wi-exit"></wm-anchor>
    </wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid1" columns="1">
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn10" horizontalalign="center">
                        <wm-picture name="picture1" picturesource="resources/images/imagelists/sales_2-order productsc.png" on-tap="goToPage_Catalog"></wm-picture>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn11"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow6">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn12"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn13"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn14"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn15"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow10">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn16"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow11">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn17"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn18"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-mobile-tabbar dataset="home,music,edit" name="mobile_tabbar1"></wm-mobile-tabbar>
</wm-page>