<wm-page data-ng-controller="CatalogPageController" name="page1">
    <wm-mobile-navbar name="mobile_navbar1" defaultview="searchview" show="true" backbutton="true" searchbutton="true" on-backbtnclick="goToPage_Main"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-tree name="tree1" dataset="bind:Variables.treeMenu.dataSet" orderby="label:asc,children[0].label:asc,children[0].children[0].label:asc"></wm-tree>
        </wm-page-content>
    </wm-content>
</wm-page>